<h1>
  Subjects
  <div class="float-right">
    <%= link_to "New", new_admin_subject_path, class: "btn btn-info" %>
  </div>
</h1>

<br>

<%= render partial: "admin/subjects/subjects", locals: {subjects: @subjects} %>