<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<%= link_to 'Edit', edit_admin_room_subject_path(@subject.room, @subject) %> |
<%= link_to 'Back', admin_room_path(@subject.room) %>
