<%= render 'nav' %>

<h3>Weight per grow</h3>
<br>
<%= line_chart @data_types_samples, 
  adapter: "highcharts",
  height: "350px",
  library: {
    chart: {
      type: "spline",
      zoomType: 'x', 
      panning: true, 
      panKey: 'shift'
    },
    yAxis: {
      visible: true
    },
    xAxis: {
      visible: true
    },
    plotOptions: {
      area: {
        marker: {
          enabled: false
        }
      }
    } 
  }
  %>


<hr>

<h3>Harvest weights</h3>
<br>
<div class="row">
  <% Harvest.joins(:grow).each do |h| %>
  <div class="col-3 mb-4">
     <h4><%= h.grow.description %></h4>
    <%= pie_chart({dry_bud_weight: h.dry_bud_weight, dry_trim_weight: h.dry_trim_weight, harvested_trim_weight: h.harvested_trim_weight, harvested_waste_weight: h.harvested_waste_weight, harvested_bud_weight: h.harvested_bud_weight}) %> 
    </div>
  <% end %>
</div>
