<% last_date = nil %>

<% events.each do |event| %>
  <div class="row">
    <div class="col-2 border-right border-info">
      <% if last_date and last_date.to_date != event.created_at.to_date %>
        <br>
        <p class="text-right text-info">
          <%= fdate event.created_at %>
          <div class="bg-info timeline-dot"></div>
        </p>
      <% elsif event == events.first %>
        <br>
        <p class="text-right text-info">
          TODAY
          <div class="bg-info timeline-dot"></div>
        </p>
      <% end %>
    </div>
    <div class="col-10">
      <% if last_date and last_date.to_date != event.created_at.to_date %>
        <br><br><br>
      <% elsif event == events.first %>
        <br><br><br>
      <% end %>

      <% if event.eventable_type == "Observation" %>
        <%= render partial: "observations/observation", locals: {observation: event.eventable} %>

      <% else %>
        <%= render partial: "events/event", locals: {event: event} %>
        <br>
      <% end %>
    </div>
  </div>

  <% last_date = event.created_at %>    
<% end %>  
