.mentions-input-box {
  position: relative;
  background: #fff;
}

.mentions-input-box textarea {
  overflow: hidden;
  background: transparent;
  position: relative;
  resize: none;
  box-sizing: border-box;
}

.mentions-input-box .mentions-autocomplete-list {
  display: none;
  background: #fff;
  border: 1px solid #b2b2b2;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;
  margin-top: -2px;

  border-radius:5px;
  border-top-right-radius:0;
  border-top-left-radius:0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
}

.mentions-input-box .mentions-autocomplete-list ul {
    margin: 0;
    padding: 0;
}

.mentions-input-box .mentions-autocomplete-list li {
  background-color: #fff;
  padding: 0 5px;
  margin: 0;
  width: auto;
  border-bottom: 1px solid #eee;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  cursor: pointer;
  list-style: none;
  white-space: nowrap;
}

.mentions-input-box .mentions-autocomplete-list li:last-child {
  border-radius:5px;
}

.mentions-input-box .mentions-autocomplete-list li > img,
.mentions-input-box .mentions-autocomplete-list li > div.icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-top:5px;
  margin-right: 5px;
  -moz-background-origin:3px;

  border-radius:3px;
}

.mentions-input-box .mentions-autocomplete-list li em {
  font-weight: bold;
  font-style: none;
}

.mentions-input-box .mentions-autocomplete-list li:hover,
.mentions-input-box .mentions-autocomplete-list li.active {
  background-color: #f2f2f2;
}

.mentions-input-box .mentions-autocomplete-list li b {
  background: #ffff99;
  font-weight: normal;
}

.mentions-input-box .mentions {
  position: absolute;
  left: 1px;
  right: 0;
  top: 1px;
  bottom: 0;
  padding: 9px;
  color: #fff;
  overflow: hidden;

  white-space: pre-wrap;
  word-wrap: break-word;
}

.mentions-input-box .mentions > div {
  color: #fff;
  white-space: pre-wrap;
  width: 100%;
}

.mentions-input-box .mentions > div > strong {
  font-weight:normal;
  background: #d8dfea;
}

.mentions-input-box .mentions > div > strong > span {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
/*



 */
/* line 8, app/assets/stylesheets/commontator/application.scss */
.commontator {
  /* Modified from: https://www.strangerstudios.com/sandbox/pagination/diggstyle.php */
}

/* line 9, app/assets/stylesheets/commontator/application.scss */
.commontator *:not(input):not(textarea) {
  margin: 0;
  border: none;
  padding: 0;
}

/* line 15, app/assets/stylesheets/commontator/application.scss */
.commontator .commontator-hidden {
  display: none;
}

/* line 19, app/assets/stylesheets/commontator/application.scss */
.commontator .header {
  display: block;
  overflow: hidden;
}

/* line 25, app/assets/stylesheets/commontator/application.scss */
.commontator .actions {
  float: right;
  margin-left: 10px;
}

/* line 31, app/assets/stylesheets/commontator/application.scss */
.commontator .status {
  font-size: 120%;
  font-weight: bold;
  font-style: normal;
}

/* line 37, app/assets/stylesheets/commontator/application.scss */
.commontator .comment-list {
  background-color: #FFF;
}

/* line 41, app/assets/stylesheets/commontator/application.scss */
.commontator .children {
  padding-left: 15px;
}

/* line 46, app/assets/stylesheets/commontator/application.scss */
.commontator .page-entries-info, .commontator .will-paginate {
  margin: 10px 0;
}

/* line 51, app/assets/stylesheets/commontator/application.scss */
.commontator .pagination a {
  margin-right: 4px;
  padding: 2px 5px 2px 5px;
  border: 1px solid #999;
  color: #666;
  text-decoration: none;
}

/* line 59, app/assets/stylesheets/commontator/application.scss */
.commontator .pagination a:hover, .commontator .pagination a:active {
  border: 1px solid #555;
  color: #000;
}

/* line 66, app/assets/stylesheets/commontator/application.scss */
.commontator .pagination em {
  margin-right: 4px;
  border: 1px solid #555;
  padding: 2px 5px 2px 5px;
  background-color: #555;
  font-weight: bold;
  color: #FFF;
}

/* line 77, app/assets/stylesheets/commontator/application.scss */
.commontator .pagination .name {
  margin: 2px 9px 2px 0;
}

/* line 81, app/assets/stylesheets/commontator/application.scss */
.commontator .pagination .disabled {
  margin-right: 4px;
  border: 1px solid #EEE;
  padding: 2px 5px 2px 5px;
  color: #DDD;
}

/* line 90, app/assets/stylesheets/commontator/application.scss */
.commontator .mentions {
  left: -8px;
  top: -8px;
  font-family: monospace;
  font-size: 13.3333px;
}

/* line 98, app/assets/stylesheets/commontator/application.scss */
.commontator .field textarea {
  width: 100%;
  padding: 0;
  overflow: auto;
}

/* line 106, app/assets/stylesheets/commontator/application.scss */
.commontator .submit {
  margin: 10px 0;
}
/* line 2, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment, .commontator .comment .body blockquote {
  border: none;
  border-top: 1px solid;
  border-left: 1px solid;
  font-weight: normal;
  color: #000;
}

/* line 11, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment {
  clear: both;
  margin: 15px 0;
  border-color: #DDD;
  padding: 0;
  font-style: normal;
}

/* line 21, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .section {
  clear: both;
  margin: 5px 7px;
}

/* line 27, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .author {
  font-size: 110%;
}

/* line 31, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .actions {
  font-size: 90%;
}

/* line 35, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .avatar {
  float: left;
  margin-right: 7px;
}

/* line 41, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .votes {
  float: right;
  margin-left: 7px;
  text-align: center;
}

/* line 48, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .votes input, .commontator .comment .votes img {
  background-color: transparent;
}

/* line 53, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .upvote, .commontator .comment .downvote {
  display: block;
  height: 18px;
  margin: 5px 0;
}

/* line 61, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .like {
  float: left;
  margin: 0 5px;
}

/* line 67, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .vote-count {
  font-size: 110%;
}

/* line 71, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .body {
  overflow: hidden;
}

/* line 74, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .body blockquote {
  border-color: #CCC;
  padding: 5px 7px;
  background-color: #EEE;
  font-style: italic;
}

/* line 84, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .reply, .commontator .comment .timestamp {
  font-size: 90%;
}

/* line 88, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .timestamp {
  color: #666;
}

/* line 92, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .error-explanation {
  margin-bottom: 10px;
}

/* line 95, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .error-explanation h3 {
  margin-top: 5px;
}

/* line 99, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .error-explanation ul {
  list-style-position: inside;
}

/* line 104, app/assets/stylesheets/commontator/comments.scss */
.commontator .comment .pagination {
  margin: 10px 7px;
}
