<div class="col-md-12 col-lg-6 mx-auto">
	<h1>
	  Grow Journal

	   <div class="float-right">
	    <%= link_to new_observation_path, class: "btn btn-outline-primary" do %>
	      <%= icon( "fas", "plus") %> <%= icon( "fas", "comment-dots") %>
	    <% end %>
	  </div> 
	</h1>

	<div class="row">
	  <div class="col-12">
	    <%= render partial: "events/feed", locals: { events: @events } %>
	  </div>
	</div>
</div>