<ul class="list-group list-group-flush text-dark">
  <% observations.order(created_at: :desc).each do |obs| %>
    <li class="list-group-item border-success">
      <div class="row">
        <div class="col-8">
          <%= obs.body %>
        </div>
        <div class="col-4">
          <div class="float-right">
            <small class="text-muted"><%= time_ago_in_words obs.created_at %></small>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item bg-light">
      <div class="row">
        <div class="col-6 text-center">
          <small class="text-info"><%= obs.water %> L</small>
        </div>
        <div class="col-6 text-center">
          <small class="text-success"><%= obs.nutrients %> mL/LL</small>
        </div>
      </div>
    </li>
  <% end %>  
</ul>