<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="col alert alert-dismissible alert-<%= name.to_s == 'notice' ? 'info' : 'danger' %>" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :span, msg.html_safe, id: "flash_#{name}" %>
    </div>
  <% end %>
<% end %>


